/* CSS Document */

/* Float Elements
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

img{ max-width:100%;}

a, a:hover, a:active{ outline:0px !important}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Primary Styles
---------------------------------*/
body {
  background:#fff;
  font-family: 苹方, simhei, 微软雅黑, Helvetica, Verdana, Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  color:#333;
  margin:0;
}
h1{
  font-size:48px;
  color:#222222;
  font-weight: 200;
  letter-spacing: -1px;
  margin:0 0 30px 0;
  text-align:center;
}
h2{
  text-align:center;
  padding: 30px 0;
}
h3{
  color:#5D5D5D;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  line-height: 1.8;
}
p{
  line-height:24px;
  margin:0;
}

#service h3, #Portfolio h3 {
  font-weight: 300;
}

#service b {
  font-weight: 400;
}
/* Header Styles
---------------------------------*/

.header{
  text-align: center;
  background-image: -webkit-linear-gradient(-90deg,#1c1e28,#1c1e28 65%,#313443);
  padding: 280px 0;
}
.logo{
  width:130px;
  margin:0 auto 35px;
}
.header h1{
  font-size:46px;
  font-weight:600;
  letter-spacing: -1px;
  margin:0 0 22px 0 ;
  color:#fff;
}

.we-create{
  padding:0;
  margin:35px 0 35px;
}
.wp-pic{
  margin-bottom:20px;
}
.we-create p {
  display:inline-block;
  font-size: 38px;
  font-style: normal;
  font-weight: 200;
  color: #bbbcbf;
}

.start-button {
  padding-left: 0px;
}

.start-button li a{
  color: #fff;
}


.link{
  padding:8px 22px;
  background: linear-gradient(270deg,#5960e5,#59b2d2);
  color:#e4e7ed;
  font-size:16px;
  font-weight:400;
  display:inline-block;
  border-radius:20px;
  text-transform:uppercase;
  line-height:25px;
  margin-bottom:20px;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}
.link:hover {
  text-decoration:none;
  color:#fff !important;
}

.link:active, .link:focus {
  text-decoration:none;
  color:#fff !important;
}

/* Navigation
---------------------------------*/
.main-nav-outer{
  padding:0px;
  border-bottom:1px solid #dddddd;
  -webkit-box-shadow:0 4px 5px -3px #ececec;
          box-shadow:0 4px 5px -3px #ececec;
  position:relative;
  background:#fff;
}
.main-nav{
  text-align:center;
  margin:10px 0 0px;
  padding:0;
  list-style:none;
}
.main-nav li{
  display:inline-block;
  margin:0 1px;
}

.main-nav img {
  height: 50px;
}

.main-nav li.active a, .main-nav li:hover a{
  color: #222;
}

.main-nav li a {
  display:inline-block;
  color:#bcbcbc;
  text-transform:uppercase;
  text-decoration: none;
  line-height:18px;
  margin:16px 32px;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}

.main-nav li.active p, .main-nav li:hover p {
  color: #222;
  display: block;
}

.main-nav li p {
  height: 2px;
  width: 50%;
  margin: 0 auto;
  background: #000;
  display: none;
}

.small-logo{
  padding:0 32px;
}

.main-section{
  padding:90px 0 90px 0;
}

.main-section .container h1 img {
  width: 40px;
  color: #fff;
  /* top: -10px; */
  margin-top: -10px;
  margin-right: 10px;
}

.main-section .container h1:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}


/* Services
---------------------------------*/

.service-list{
  padding:0 0 0 0;
  font-size:14px;
  margin-bottom:40px;
}
.service-list-col1{
  float:left;
  width:60px;
}
.service-list-col1 i{
  font-style:normal;
  font-size:38px;
  display:block;
  color:#222;
  font-family: 'FontAwesome';
  line-height:38px;
}
.service-list-col2{
  overflow:hidden;
}
.main-section.alabaster{
  background:#f7f7f7;
}

.alabaster img {
  border-radius: 5px;
}

.alabaster .max{width:200%}

.main-section.labdiy{
  background:#f7f7f7;
}

/* Featured Work
---------------------------------*/
.featured-work{
  font-size:14px;
  padding: 50px 0 0 80px;
}
.featured-work h1{
  text-align: left;
}
.featured-box{
  padding:0 0 0 0;
  margin-bottom:25px;
  font-size:14px;
}
.featured-box h3{
  margin:0px;
  text-align: left;
}
.featured-box p{
  line-height: 26px;
  text-align: left;
}
.featured-work p.padding-b{
  padding-bottom:35px;
}

@media only screen and (max-width: 479px) {
  .featured-work {
    padding: 0;
  }
  .featured-work h1, .featured-box h3, .featured-box p {
    text-align: center;
  }
  .featured-work h1 {
    font-size: 32px;
  }
  .featured-box-col2 {
    padding: 0 30px;
  }
}

.labdiy .featured-work {
  padding: 60px 50px;
}

/* Portfolio
---------------------------------*/
.Portfolio-nav{
  padding:0;
  margin:0 0 45px 0;
  list-style:none;
  text-align:center;
}
.Portfolio-nav li{
  margin:0 10px;
  display:inline;
}
.Portfolio-nav li a{
  display:inline-block;
  padding:10px 22px;
  font-size:12px;
  line-height:20px;
  color:#222222;
  border-radius:4px;
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
  background:#f7f7f7;
  margin-bottom:5px;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}
.Portfolio-nav li a:hover{
  background:#7cc576;
  color:#fff;
  text-decoration:none;
}

.portfolioContainer{
  margin:0 auto;
  padding-left:15px;
}

.Portfolio-box{
  text-align:center;
  margin-bottom:30px;
  height:310px;
  width:310px;
  overflow:hidden;
  float:left;
  padding:0;
}
.Portfolio-box img{
  border-radius: 10px;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}

.Portfolio-box h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.Portfolio-box h2 {
  font-size: 22px;
  margin-top: 0;
  padding: 0;
}

.Portfolio-box img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border-radius: 10px;
}

.Portfolio-nav li a.current{
  background:#7cc576;
  color:#fff;
  text-decoration:none;
}
img {
   max-width:100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/* Clients
---------------------------------*/
.client-part{
  /* background:url(../img/banner3.jpg) center center no-repeat;
  background-size:cover; */
  /* padding:55px 0; */
  text-align:center;
  padding: 0;
}

.client-part .swiper-slide {
  padding: 50px 0;
  height: 100%;
}

.client-part .pbg1{
  background:#333;
  background-size:cover;
}

.client-part .pbg2{
  background:#333;
  background-size:cover;
}

.client-part .pbg3{
  background:#333;
  background-size:cover;
}

.client-part-haead{
  text-align: left;
  color:#fdfdfd;
  font-size:18px;
  line-height:41px;
  padding: 0 290px;
  margin:30px 0 10px;
  font-family: 苹方, simhei, 微软雅黑, Helvetica, Verdana, Arial, sans-serif;
  font-style: italic;
}
.client{
  padding:0;
  margin:20px 0 0;
  list-style:none;
  text-align:center;
}
.client li{
  display:inline;
  margin:0 15px;
}
.client li a{
  display:inline-block;
}
.client li a img{
  border-radius:50%;
  width: 100px;
}
.client li a:hover{
  text-decoration:none;
}
.client li a h3{
  color:#ffffff;
}
.client li a span{
  color:#f1f1f1;
}
.quote-right{
  font-style:normal;
  width:68px;
  height:68px;
  margin:0 auto;
  border:2px solid #7cc576;
  border-radius:50%;
  display:block;
  line-height:68px;
  text-align:center;
  font-size:27px;
  color:#7cc576;
  cursor: pointer;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}

.quote-right:hover{
color: #fff;
border: 2px solid #fff;
}

.c-logo-part{
  background:#7cc576;
  padding:25px 0;
    filter: alpha(opacity=60);
}
.c-logo-part ul{
  padding:0;
  margin:0;
  list-style:none;
  text-align:center;
}
.c-logo-part ul li{
  display:inline;
  margin:0 25px;
}
.c-logo-part ul a{
  display:inline-block;
  margin: 0 20px;
}
.main-section.team{
  padding:85px 0;
}
.main-section.team h6{
  margin-bottom:40px;
}


/* Team
---------------------------------*/
.team-leader-block{
  max-width:993px;
  margin:0 auto;
}
.team-leader-box{
  width:30.66%;
  margin-right: 3.82979%;
  height: 490px;
  overflow: hidden;
  text-align: center;
  float: left;
}
.team-leader-box span{
  margin-bottom:24px;
  display:block;
}
.team-leader-box:nth-of-type(3n+0){ margin:0;}
.team-leader{
  width:auto;
  height:auto;
  position:relative;
  border-radius:50%;
  -webkit-box-shadow:0px 0px 0px 7px rgba(241,241,241,0.80);
          box-shadow:0px 0px 0px 7px rgba(241,241,241,0.80);
  margin:7px 7px 25px 7px;

}
.team-leader-shadow{
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  border-radius:50%;
  position:absolute;
  width:100%;
  height:100%;
  z-index:10;
  border-radius:50%;
}
.team-leader-shadow a{
  display:block;
  width:100%;
  height:100%;
}
.team-leader:hover .team-leader-shadow{
  -webkit-box-shadow:inset  0px 0px 0px 148px rgba(17,17,17,0.80);
          box-shadow:inset  0px 0px 0px 148px rgba(17,17,17,0.80);
}
.team-leader:hover ul{ display:block; opacity:1}
.team-leader img{
  display:block;
  border-radius:50%;
}
.team-leader ul{
  display:block;
  opacity:0;
  padding:0;
  margin:0;
  list-style:none;
  position:absolute;
  left:0;
  top:50%;
  width:100%;
  text-align:center;
  margin-top:-14px;
  z-index:15;
  transition:all 0.6s ease-in-out;
  -moz-transition:all 0.6s ease-in-out;
  -webkit-transition:all 0.6s ease-in-out;
}
.team-leader ul li{
  display:inline;
  margin:0 11px;
}
.team-leader ul li a{
  font-family: 'FontAwesome';
  display:inline-block;
  font-size:28px;
  color:#fff;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}
.team-leader ul li a:hover, .team-leader ul li a:focus{
  text-decoration:none;
}
.team-leader ul li a.fa-twitter:hover{
  color:#55acee;
}
.team-leader ul li a.fa-facebook:hover{
  color:#3b5998;
}
.team-leader ul li a.fa-pinterest:hover{
  color:#cb2026;
}
.team-leader ul li a.fa-google-plus:hover{
  color:#dd4b39;
}

/* Talk Business
---------------------------------*/
.business-talking{
  background:url(../img/section-bg2.jpg) top center no-repeat;
  background-size:cover;
  padding:60px 0 10px;
  text-align:center;
}
.business-talking h2{
  font-weight:700;
  padding:0;
  margin:20px 0 70px;
  text-transform:uppercase;
  font-size:42px;
  color:#fff;
}

/* Footer
---------------------------------*/

.footer{
  background: #1c1c1c;
  padding:35px 0 35px;
}
.footer-logo{
  margin:15px auto 35px;
  width: 76px;
}
.copyright, .credits{
  color:#cccccc;
  font-size:14px;
  display:block;
  text-align:center;
}
.copyright a, .credits a{
  color:#7cc576;
  font-weight:600;
  text-decoration: none;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}

.copyright a:hover, .credits a:hover {
  color: #fff;
}

.res-nav_click {
  line-height:38px;
  font-family: 'FontAwesome';
  font-size:38px;
  text-decoration: none !important;
  color:#777777;
  font-style:normal;
  display:none;
  width:42px;
  height:27px;
  margin:20px auto;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
  color: #7cc576 !important;
}

.portfolioContainer{
  max-width: 1140px;
}


/* Animation Timers
---------------------------------*/
.delay-02s {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.delay-03s {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
.delay-04s {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.delay-05s {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.delay-06s {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

.delay-07s {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}
.delay-08s {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

.delay-09s {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}
.delay-1s {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.delay-12s {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

/* NRV.html */
.nrvbanner {
  background: url(../img/cutbanner.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 300px; */
}

.homebanner {
  position: relative;
  background: url(../img/homebanner.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
}

.homebanner .homebannerTitle {
  position: absolute;
  width: 300px;
  top: 34%;
  right: 20%;
}

.homebanner .homebannerTitle h3 {
  font-size: 32px;
  font-weight: 200;
  color: #fff;
}

.profile h2 {
  text-align: left;
  padding-bottom: 20px;
}

.profile {
  padding-left: 80px;
  padding-right: 80px;
}

.banner h2 {
  text-align: left;
  font-size: 40px;
  font-weight: 400;
}

.banner p {
  font-size: 16px;
}

@media only screen and (max-width: 479px) {
  .banner {
    padding: 0 0 40px 0;
  }
  .banner .col-lg-6 {
    padding: 0 30px;
  }
  .banner h2 {
    text-align: left;
    font-size: 30px;
    font-weight: 400;
    padding: 0;
  }

  .banner p {
    font-size: 14px;
  }

  .homebanner {
    display: none;
  }
}

.nrvdesign .col-lg-4 {
  padding: 50px;
}

.nrvdesign .nrvpanel {
  height: 350px;
  padding: 30px 40px;
  background-color: #fff;
  border-radius: 2px;
}

.nrvdesign .nrvpanel:hover {
  -webkit-box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.65);
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.ingredient .col-lg-6 {
  padding: 20px 50px 50px 0;
}

.ingredient .item {
  padding: 30px 0;
}

.ingredient h3 {
  text-align: left;
  margin: 0 0 10px 0;
  line-height: 1;
}

.ingredient p {
  font-weight: lighter;
}

.ingredient .item .col-sm-4 {
  text-align: center;
}

.ingredient .item img {
  height: 100px;
  border-radius: 100px;
  border: 4px solid #92d48d;
}

.ingredient .item:hover img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

@media only screen and (max-width: 479px) {
  .ingredient .col-sm-4 {
    text-align: center;
  }

  .ingredient h3 {
    text-align: center;
    padding: 20px;
  }

  .ingredient p {
    text-align: center;
  }

  .nrvdesign .nrvpanel {
    height: 250px;
  }

  .nrvdesign .col-lg-4 {
    padding: 10px 50px;
  }

  .main-section h1 {
    font-size: 32px;
  }
  .main-section .container h1 img {
    width: 30px;
  }
}

.buy {
  background: #f7f7f7;
  height: 120px;
  text-align: center;
}

.buy .btn {
  cursor: pointer;
  margin: 40px auto 0;
  border: 1px solid #333;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  border-radius: 0;
  padding: 0;
}

.buy .btn:hover {
  color: #fff;
  background-color: #333;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.buy .btn em {
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 5px solid;
    margin-left: 15px;
    border-color: transparent transparent transparent #333;
}

.buy .btn:hover em {
  border-color: transparent transparent transparent #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.buy img {
  display: block;
  width: 140px;
  margin: -1px auto 0;
}


.quality .item {
  height: 160px;
  padding: 30px 0;
}

.quality .item img {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  border: 4px solid #cccccc;
}

.quality .item:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.quality .col-lg-4 {
  text-align: right;
  padding-right: 50px;
}

.quality .col-lg-8 {
  height: 100px;
  position: relative;
}

.quality p {
  position: absolute;
  padding-right: 200px;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media only screen and (max-width: 479px) {
  .quality .col-lg-4 {
    text-align: center;
    padding-right: 15px;
  }

  .quality p {
    padding: 40px;
    text-align: center;
  }

  .quality .item {
    margin-top: 80px;
  }
}

.refer {
  background: #f7f7f7;
  padding: 0 200px 50px;
}

.refer ul li {
  padding: 0 10px;
}

.blocktitle {
  padding-right: 500px;
}

@media only screen and (max-width: 479px) {
  .blocktitle {
    padding: 0 50px;
  }

  .profile {
    padding: 0 50px;
  }

  .profile h2 {
    text-align: center;
  }

  .ingredient .col-lg-6 {
    padding: 0;
  }
}

.footer {
  margin-top: 20px;
  padding: 10px 0 50px 0;
}

.footer h3 {
  text-align: left;
  font-size: 14px;
  color: #eef2fa;
  font-weight: 600;
  margin-bottom: 30px;
}

.footer p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #737578;
  font-weight: 500;
}

.footer a {
  color: #737578;
}

.footer a:hover {
  color: #fff;
}

.footer i {
  margin-right: 10px;
}

.footer .col-lg-4 {
  padding: 0 50px;
}

.foot_bot {
    height: 40px;
    line-height: 40px;
    background: #fff;
}

.foot_bot p {
  line-height: 40px;
  font-size: 12px;
  font-weight: 500;
}

.foot_bot img {
  margin-bottom: 2px;
  width: 14px;
}

.weixin, .youzan, .weibo {
  cursor: pointer;
  position: relative;
}

.weixin em {
    background: url(../img/weixin.png) no-repeat center;
}

.weixin:hover em {
    background: url(../img/weixinhover.png) no-repeat center;
}

.youzan em {
    background: url(../img/youzan.png) no-repeat center;
}


.youzan:hover em {
    background: url(../img/youzanhover.png) no-repeat center;
}

.weibo em {
    background: url(../img/weibo.png) no-repeat center;
}

.weibo:hover em {
    background: url(../img/weibohover.png) no-repeat center;
}

.weixin em, .weixin:hover em, .youzan em, .youzan:hover em, .weibo em, .weibo:hover em {
  display: block;
  width: 45px;
  height: 45px;
  margin-bottom: 15px;
  background-size: 100% 100%;
}

.weixin .qrcode, .youzan .qrcode {
  display: none;
  width: 100px;
  height: 100px;
  position: absolute;
  left: -50%;
  top: -50%;
}

.weixin:hover .qrcode, .youzan:hover .qrcode {
  display: block;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media only screen and (max-width: 479px) {
  .foot_bot p {
    line-height: 28px;
  }

  .footer, .footer h3 {
    text-align: center;
  }

  .footer p {
    display: inline-block;
  }

  .youzan, .weibo, .weixin em  {
    display: none;
  }

  .weixin .qrcode {
    display: block;
    position: relative;
    width: 100%;
    left: 0;
  }

  .weixin .qrcode img {
    width: 100px;
  }

  .foot_bot {
    text-align: center;
    padding: 5px 0;
  }

  .foot_bot b {
    display: none;
  }

  .foot_bot i {
    display: block;
  }

  .header {
    display: none;
  }
}
