@import "./font.css";
/**google font**/
/* @import "https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900"; */
/**colors**/
.red {
  color: #f55b63;
}

.green {
  color: #bce13b;
}

.blue {
  color: #42a3ee;
}

.yellow {
  color: #e6e837;
}

.gold {
  color: #e8c537;
}

body, html {
  height: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Neue Haas Grotesk Text Pro,Arial Nova,Segoe UI,Helvetica Neue,\.PingFang SC,PingFang SC,Microsoft YaHei,Microsoft JhengHei,Source Han Sans SC,Noto Sans CJK SC,Source Han Sans CN,Noto Sans SC,Source Han Sans TC,Noto Sans CJK TC,Hiragino Sans GB,sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #4d4d4d;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-weight: normal;
}

a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #f9b015;
}
a:hover, a:focus {
  text-decoration: none;
  outline: 0 !important;
  color: #f9b015;
}

button {
  border: 0px;
}
button:focus {
  outline: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-weight: 400;
}

hr.separator {
  border-top: 1px solid #f9b015;
  margin: 10px auto;
  width: 80px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-t-30 {
  margin-top: 30px;
}

.margin-r-30 {
  margin-right: 30px;
}

.margin-b-30 {
  margin-bottom: 30px;
}

.margin-l-30 {
  margin-left: 30px;
}

.padding-t-40 {
  padding-top: 40px;
}

.padding-r-40 {
  padding-right: 40px;
}

.padding-b-40 {
  padding-bottom: 40px;
}

.padding-l-40 {
  padding-left: 40px;
}

/**spaces**/
.space-20 {
  width: 100%;
  height: 20px;
  clear: both;
}

.space-30 {
  width: 100%;
  height: 30px;
  clear: both;
}

.space-40 {
  width: 100%;
  height: 40px;
  clear: both;
}

.space-50 {
  width: 100%;
  height: 50px;
  clear: both;
}

.space-60 {
  width: 100%;
  height: 60px;
  clear: both;
}

.flex-hrz {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-full {
  flex: 1;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  .vertical-align-child {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}
.center-title {
  text-align: center;
  margin-bottom: 40px;
  border-top: 1px solid #d8d4d9;
}
.center-title h2 {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 36px;
  margin-top: -20px;
  margin-bottom: 10px;
  color: #000;
}
.center-title h2 span {
  padding: 0 20px;
  background-color: #fff;
}
.center-title p {
  color: #999;
  font-size: 12px !important;
  line-height: 20px !important;
}
.center-title i {
  color: #f9b015;
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}

/***buttons***/
.btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-weight: normal;
  font-size: 13px;
  border: 0px;
  text-transform: uppercase;
  font-weight: 500;
}
.btn i {
  margin-left: 5px;
}
.btn.btn-radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.btn.btn-lg {
  padding: 15px 40px;
}

.btn-skin {
  color: #fff;
  border: 1px solid #fff;
}
.btn-skin:hover, .btn-skin:focus {
  color: #000;
  background-color: #fff;
}

.btn-dark {
  background-color: #333;
  color: #fff;
}
.btn-dark:hover, .btn-dark:focus {
  color: #fff;
  background-color: #f9b015;
}

.btn-default {
  background-color: #f3f3f3;
  color: #777;
}
.btn-default:hover, .btn-default:focus {
  color: #fff;
  background-color: #333;
}

.btn-white {
  background-color: #fff;
  color: #333;
}
.btn-white:hover, .btn-white:focus {
  color: #fff;
  background-color: #333;
}

/***header style 1**/
.header-v1 {
  padding: 10px 0;
  border: 0px;
  background-color: transparent;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header-v1 .navbar-brand {
  float: left;
  height: 60px;
  padding: 15px 15px;
  font-size: 35px;
  color: #fff;
  text-transform: lowercase;
  font-weight: 700;
  line-height: 20px;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}

.header-v1 .navbar-brand img {
  width: 90px;
}

.header-v1.sticky {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 0px 0px;
}

.header-v1 .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 500;
}
.header-v1 .navbar-nav > li > a:hover {
  color: #f9b015;
}

.header-v1.sticky .navbar-nav > li > a {
  color: #4d4d4d;
}

.header-v1.sticky .navbar-nav > li > a:hover {
  color: #f9b015;
}

.header-v1 .navbar-nav > .active > a, .header-v1 .navbar-nav > .active > a:focus, .header-v1 .navbar-nav > .active > a:hover {
  color: #f9b015;
  background-color: transparent;
}

.header-v1.sticky .navbar-nav > .active > a, .header-v1.sticky .navbar-nav > .active > a:focus, .header-v1.sticky .navbar-nav > .active > a:hover {
  color: #f9b015;
  background-color: transparent;
}

.header-v1 .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.header-v1 .navbar-brand {
  color: #fff;
}

.header-v1.sticky .navbar-brand {
  color: #333;
}

.navbar-right > li > a i {
  font-size: 20px;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar-right li.button-nav a {
    background-color: #f9b015;
    color: #fff;
    padding: 8px 15px;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 400;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
  }
  .navbar-right li.button-nav a:hover, .navbar-right li.button-nav a:focus {
    background-color: #333;
    color: #fff !important;
  }

  .header-v1.sticky .navbar-right li.button-nav a {
    color: #fff;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    background-color: #333;
    margin: 0px;
  }

  .header-v1 .navbar-toggle {
    border: 0px;
    margin-top: 15px;
  }

  .header-v1 .navbar-toggle:focus, .header-v1 .navbar-toggle:hover {
    background-color: transparent;
  }

  .header-v1 .navbar-collapse, .header-v1 .navbar-form {
    border: 0px;
  }
}

#products .col-sm-4 {
  padding: 0 40px;
}

.price-box {
  min-height: 456px;
  padding: 25px 40px;
  margin-bottom: 30px;
  background-color: #eee;
}

.price-box h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  margin-top: 25px;
}
.price-box p {
  font-size: 14px;
  margin-top: 30px;
}
.price-box:hover {
  box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.65);
  z-index: 2;
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
  transition: 0.5s all;
  border: none;
}

.footer {
  background-color: #3d444f;
  padding: 60px;
}

.footer h2 {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}
.footer .qrcode {
  text-align: center;
}

.footer .qrcode img{
  width: 120px;
  margin-bottom: 15px;
}

.footer ul li {
  padding-bottom: 5px;
}
.footer ul li i {
  float: left;
  color: #fff;
  font-size: 30px;
  margin-right: 20px;
}
.footer ul li span {
  display: block;
  overflow: hidden;
  color: #9ba3af;
  font-size: 13px;
}

.footer .col-sm-4 {
  text-align: center;
}

.copyright {
  color: #fff;
  padding: 15px 0;
  background-color: #373d47;
}

@media (min-width: 414px) {
  .copyright .row >div:last-child {
    text-align: right;
  }
}

@media (max-width: 414px) {
  .copyright .row >div {
    text-align: center;
  }
}

.copyright .footer-bottom b {
  font-size: 28px;
}
/* .footer .footer-bottom .list-inline li a {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}
.footer .footer-bottom .list-inline li a:hover {
  color: #f9b015;
}
 */
/* #home .row {
  display: none;
} */

.banner-intro {
  background: url(http://oje3wjypj.bkt.clouddn.com/images/bg.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: relative;
  display: table;
}
.banner-intro .banner-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  opacity: 1;
}
.banner-intro h1 {
  color: #fff;
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
}
.banner-intro p.lead {
  color: #fff;
  font-size: 15px;
}
.banner-intro .banner-buttons {
  margin-top: 30px;
}
.banner-intro .banner-buttons a {
  margin: 5px;
}
.banner-intro .banner-buttons a i {
  margin-left: 5px;
}

#about, #ingredient, #nrv, #products {
  padding: 100px 0;
  background-color: #fff;
}

#about h3 {
  color: #000;
  font-size: 28px;
  margin-bottom: 20px;
}

#about .col-sm-5:last-child img {
  max-height: 85%;
  margin: auto;
}

#about p, #newsletter p {
  font-weight: normal;
  font-size: 15px;
  line-height: 32px;
}

@media (max-width: 414px) {
  #newsletter .desc {
    text-align: center;
  }

  #about .col-sm-5:last-child img {
    max-width: 100%;
  }

  #about .col-sm-5:first-child {
    text-align: center;
  }

  #about, #ingredient, #nrv, #products {
    padding: 100px 0 0;
  }
}

#newsletter .desc p {
  margin: 0;
}

#ingredient .col-sm-3 {
  padding: 5px;
}

#nrv table, #nrv table th {
  text-align: center;
}

#nrv .col-sm-4:last-child {
  height: 464px;
}

.gallery {
  overflow: hidden;
  position: relative;
}

.gallery img {
  width: 100%;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gallery .gallery-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gallery .gallery-overlay div {
  position: absolute;
  width: 100%;
  padding: 20px;
  top: 100%;
  font-size: 13px;
  background-color: transparent;
  color: #fff;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gallery:hover img {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.gallery:hover .gallery-overlay {
  opacity: 1;
}

.gallery:hover .gallery-overlay div {
  top: 0;
}

@media (max-width: 414px) {
  .gallery .gallery-overlay div {
    top: 0;
  }

  .gallery .gallery-overlay {
    opacity: 1;
  }
}

#newsletter {
  background: url(http://oje3wjypj.bkt.clouddn.com/images/formbg.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

#newsletter .container {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

/* #newsletter .container .desc {
  border-right: 1px solid #fff;
} */

#newsletter .container .desc, #newsletter .container .tryform {
  padding: 50px 20px;
}

@media (min-width: 768px) {
  #newsletter .container .desc, #newsletter .container .tryform {
    padding: 100px;
  }
}
#newsletter #applyBtn {
  width: 100%;
  background-color: #fff;
  color: #000;
}

#newsletter select {
  width: initial;
  display: inline;
  width: 80px;
  color: #fff;
}
#newsletter .form-control {
  height: 40px;
  color: #fff;
  border: 1px solid #fff;
  background: rgba(0,0,0,0);
}

#newsletter input {
  display: inline;
}

#newsletter .phone {
  width: 250px;
}

#newsletter .gender {
  width: 90%;
}

#newsletter .age {
  width: 100%;
}

#newsletter b {
  font-size: 18px;
}

#newsletter .error {
  border-color: #b92c28;
  color: #b92c28;
}

#newsletter .success {
  border-color: #5cb85c;
  color: #5cb85c;
}

#newsletter .applymsg {
  display: none;
}

#newsletter .applymsg h3 {
  text-align: center;
}

#newsletter .applymsg i {
  margin-right: 20px;
}

#charts {
  height: 500px;
  width: 100%;
}

@media (max-width: 767px) {
  .banner-intro h1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
  }

  .banner-intro .banner-buttons .btn-white {
    display: none;
  }

  .banner-intro .banner-buttons {
    margin-top: 0px;
  }

  .header-v1 .navbar-brand {
    line-height: 33px;
  }

  .header-v2 .navbar-brand {
    line-height: 16px;
  }
}

.spinner {
  /* margin: 100px auto; */
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}

.spinner > div {
  background-color: #42a3ee;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
