@import "./font.css";
/**google font**/
/* @import "https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900"; */
/**colors**/
.red {
  color: #f55b63;
}

.green {
  color: #bce13b;
}

.blue {
  color: #42a3ee;
}

.yellow {
  color: #e6e837;
}

.gold {
  color: #e8c537;
}

body, html {
  height: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Neue Haas Grotesk Text Pro,Arial Nova,Segoe UI,Helvetica Neue,\.PingFang SC,PingFang SC,Microsoft YaHei,Microsoft JhengHei,Source Han Sans SC,Noto Sans CJK SC,Source Han Sans CN,Noto Sans SC,Source Han Sans TC,Noto Sans CJK TC,Hiragino Sans GB,sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #4d4d4d;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-weight: normal;
}

a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #f9b015;
}
a:hover, a:focus {
  text-decoration: none;
  outline: 0 !important;
  color: #f9b015;
}

button {
  border: 0px;
}
button:focus {
  outline: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-weight: 700;
}

hr.separator {
  border-top: 1px solid #f9b015;
  margin: 10px auto;
  width: 80px;
}

.margin-b-30 {
  margin-bottom: 30px;
}

/**spaces**/
.space-20 {
  width: 100%;
  height: 20px;
  clear: both;
}

.space-30 {
  width: 100%;
  height: 30px;
  clear: both;
}

.space-40 {
  width: 100%;
  height: 40px;
  clear: both;
}

.space-50 {
  width: 100%;
  height: 50px;
  clear: both;
}

.space-60 {
  width: 100%;
  height: 60px;
  clear: both;
}

.flex-hrz {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-full {
  flex: 1;
}

@media (min-width: 768px) {
  .vertical-align-child {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}
.center-title {
  text-align: center;
  margin-bottom: 50px;
}
.center-title h2 {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 15px;
  color: #000;
}
.center-title p {
  font-size: 15px;
  line-height: 30px;
}
.center-title i {
  color: #f9b015;
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}

/***buttons***/
.btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-weight: normal;
  font-size: 13px;
  border: 0px;
  text-transform: uppercase;
  font-weight: 500;
}
.btn i {
  margin-left: 5px;
}
.btn.btn-radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.btn.btn-lg {
  padding: 15px 40px;
}

.btn-skin {
  background-color: #f9b015;
  color: #fff;
}
.btn-skin:hover, .btn-skin:focus {
  color: #fff;
  background-color: #444;
}

.btn-dark {
  background-color: #333;
  color: #fff;
}
.btn-dark:hover, .btn-dark:focus {
  color: #fff;
  background-color: #f9b015;
}

.btn-default {
  background-color: #f3f3f3;
  color: #777;
}
.btn-default:hover, .btn-default:focus {
  color: #fff;
  background-color: #333;
}

.btn-white {
  background-color: #fff;
  color: #333;
}
.btn-white:hover, .btn-white:focus {
  color: #fff;
  background-color: #333;
}

/***header style 1**/
.header-v1 {
  padding: 10px 0;
  border: 0px;
  background-color: transparent;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header-v1 .navbar-brand {
  float: left;
  height: 60px;
  padding: 15px 15px;
  font-size: 35px;
  color: #fff;
  text-transform: lowercase;
  font-weight: 700;
  line-height: 20px;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}

.header-v1 .navbar-brand img {
  width: 90px;
}

.header-v1.sticky {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 0px 0px;
}

.header-v1 .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 500;
}
.header-v1 .navbar-nav > li > a:hover {
  color: #f9b015;
}

.header-v1.sticky .navbar-nav > li > a {
  color: #4d4d4d;
}

.header-v1 .navbar-nav > .active > a, .header-v1 .navbar-nav > .active > a:focus, .header-v1 .navbar-nav > .active > a:hover {
  color: #f9b015;
  background-color: transparent;
}

.header-v1.sticky .navbar-nav > .active > a, .header-v1.sticky .navbar-nav > .active > a:focus, .header-v1.sticky .navbar-nav > .active > a:hover {
  color: #f9b015;
  background-color: transparent;
}

.header-v1 .navbar-brand {
  color: #fff;
}

.header-v1.sticky .navbar-brand {
  color: #333;
}

.navbar-right > li > a i {
  font-size: 20px;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar-right li.button-nav a {
    background-color: #f9b015;
    color: #fff;
    padding: 8px 15px;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 400;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
  }
  .navbar-right li.button-nav a:hover, .navbar-right li.button-nav a:focus {
    background-color: #333;
    color: #fff !important;
  }

  .header-v1.sticky .navbar-right li.button-nav a {
    color: #fff;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    background-color: #333;
    margin: 0px;
  }

  .header-v1 .navbar-toggle {
    border: 0px;
    margin-top: 15px;
  }

  .header-v1 .navbar-toggle:focus, .header-v1 .navbar-toggle:hover {
    background-color: transparent;
  }

  .header-v1 .navbar-collapse, .header-v1 .navbar-form {
    border: 0px;
  }
}

.price-box {
  height: 440px;
  padding: 25px 40px;
  margin-bottom: 30px;
  background-color: #eee;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.price-box h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  margin-top: 25px;
}
.price-box .price sup, .price-box .price sub {
  font-size: 13px;
}
.price-box .price sup {
  vertical-align: top;
  top: 10px;
}
.price-box p {
  font-size: 14px;
  margin-bottom: 30px;
}
.price-box:hover {
  box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.75);
  z-index: 2;
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
  transition: 0.5s all;
  border: none;
}

.footer {
  background-color: #323a45;
  padding-top: 60px;
}
.footer h2 {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}
.footer p {
  color: #ced3d8;
  font-size: 15px;
}
.footer ul li {
  padding-bottom: 20px;
}
.footer ul li i {
  float: left;
  color: #fff;
  font-size: 30px;
  margin-right: 20px;
}
.footer ul li span {
  display: block;
  overflow: hidden;
  color: #ced3d8;
  font-size: 16px;
}
.footer ul.list-inline li {
  padding: 0px;
}
.footer ul.list-inline li a {
  margin: 5px;
}
.footer ul.list-inline li a i {
  color: #a4a4a4;
  margin: 0px;
  font-size: 30px;
}
.footer ul.list-inline li:hover i {
  color: #f9b015;
}
.footer .footer-bottom {
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer .footer-bottom .list-inline li a {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}
.footer .footer-bottom .list-inline li a:hover {
  color: #f9b015;
}

.footer .col-sm-4 {
  height: 300px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .col-sm-4:last-child {
  text-align: center;
  border: none;
}

.banner-intro {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: relative;
  display: table;
}
.banner-intro .banner-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  opacity: 1;
}
.banner-intro h1 {
  color: #fff;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
}
.banner-intro p.lead {
  color: #fff;
  font-size: 15px;
}
.banner-intro .banner-buttons {
  margin-top: 30px;
}
.banner-intro .banner-buttons a {
  margin: 5px;
}
.banner-intro .banner-buttons a i {
  margin-left: 5px;
}

#about, #features, #newsletter, #products {
  padding: 50px 0;
  background-color: #fff;
}

.feature-box {
  margin-bottom: 40px;
  text-align: center;
}
.feature-box i {
  font-size: 40px;
  display: block;
  margin-bottom: 15px;
}
.feature-box h3 {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

#about h3 {
  text-align: center;
  color: #000;
  font-size: 30px;
  margin-bottom: 40px;
}

#about h4 {
  text-align: center;
}

#about p {
  font-weight: normal;
  font-size: 16px;
}

#newsletter h3 {
  text-align: center;
  color: #000;
  font-size: 30px;
  margin-bottom: 40px;
}

#newsletter h4 {
  text-align: center;
}

#newsletter p {
  font-weight: normal;
  font-size: 16px;
}

#newsletter .form-control {
  height: 40px;
}

#newsletter select {
  width: initial;
  display: inline;
  width: 100px;
}

#newsletter input {
  display: inline;
}

#newsletter .phone {
  width: 250px;
}

#newsletter b {
  font-size: 18px;
}

#newsletter .error {
  border-color: #b92c28;
  color: #b92c28;
}

#newsletter .success {
  border-color: #5cb85c;
  color: #5cb85c;
}

#newsletter .tryform {
  margin: 0 40px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#newsletter .tryform:hover {
  box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.75);
  z-index: 2;
  transition: 0.5s all;
  border: none;
}

/**gallery**/
.gallery-container {
  padding: 80px 0;
}

.gallery {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.gallery p {
  text-align: center;
}

.gallery img {
  width: 100%;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gallery .gallery-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gallery .gallery-overlay a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 100%;
  margin-top: -20px;
  left: 50%;
  margin-left: -20px;
  font-size: 35px;
  background-color: transparent;
  color: #fff;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gallery:hover img {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.gallery:hover .gallery-overlay {
  opacity: 1;
}
.gallery:hover .gallery-overlay a {
  top: 50%;
}


@media (max-width: 767px) {
  .banner-intro h1 {
    font-size: 17px;
    line-height: 10px;
  }

  .banner-intro .banner-buttons .btn-white {
    display: none;
  }

  .banner-intro .banner-buttons {
    margin-top: 0px;
  }

  .header-v1 .navbar-brand {
    line-height: 33px;
  }

  .header-v2 .navbar-brand {
    line-height: 16px;
  }

  .assan-newsletter .input-group, .assan-newsletter .input-group-btn, .assan-newsletter .btn {
    width: 100%;
    display: block;
  }

  .assan-newsletter .form-control {
    margin-bottom: 10px;
    font-size: 13px;
  }
}
@media (max-width: 375px) {
  .input-group .form-control, .input-group-addon, .input-group-btn {
    display: inherit;
  }

  .assan-newsletter .form-control {
    margin-bottom: 10px;
    font-size: 13px;
  }

  .footer .footer-bottom .list-inline li a {
    font-size: 12px;
  }
}
